@import "variables.scss";

.blog-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  nav {
    ul {
      list-style: none;

      li {
        display: inline;
        padding-left: 0.5em;
      }
    }
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
  }
}

.blog-logo {
  a {
    flex-basis: 20%;
    font-size: 26px;
    font-weight: bold;
  }
}

.blog-nav {}

.blog-footer {

  padding: 40px $padding 40px $padding;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 0.9em;
  // margin-block-start: 60px;
  // margin-block-end: 200px;

  p {
    margin: 0;
  }
}