@import "variables.scss";

$content-max-width: 50rem;

.world {
	height: 100%;
}

.content-container {
	height: 100%;
	max-width: $content-max-width;
	margin-inline-start: auto;
	margin-inline-end: auto;
	padding-left: 16px;
	padding-right: 16px;
}