@import "variables.scss";

a {
  color: $text;
  text-decoration: none;
  border: none;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;

  &:hover {
    color: #fff;
  }

  &:focus {
    outline: none;
  }
}