@import "variables.scss";
@import "base";
@import "layout.scss";
@import "link.scss";
@import "blog.scss";
@import "entry";
@import "tags.scss";
@import "icon.scss";
@import "syntax_highlight";
@import "theme.scss";
@import "typography.scss";
@import "404.scss";

blockquote {
  border-left: 0.25em solid;
  margin: 1em;
  padding: 0 1em;
  font-style: italic;
}

hr {
  opacity: 0.2;
  border-width: 0 0 5px 0;
  border-style: dashed;
  background: transparent;
  width: 50%;
  margin: 1.8em auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
  max-width: 100%;

  th,
  td {
    word-break: keep-all;
    padding: 0.5rem;
    border: 1px solid;
  }

  th {
    font-weight: 700;
    vertical-align: bottom;
  }
}