{% extends "base/base.html" %}

{% block content %}

<h1>Tags</h1>
<div class="tags-list">
  {% set terms_map = terms | group_by(attribute="name") %}
  <ul>
    <li class="tags-list-item">
      <a href="{{ config.base_url }}/tags/rust/">
        🦀 Rust({{ terms_map["rust"][0].pages | length }})
      </a>
      <span> Rust関連</span>
    </li>

    <li class="tags-list-item">
      <a href="{{ config.base_url }}/tags/book/">
        📗 Book({{ terms_map["book"][0].pages | length }})
      </a>
      <span> 本やdocumentの感想</span>
    </li>

    <li class="tags-list-item">
      <a href="{{ config.base_url }}/tags/book/">
        🏃 Event({{ terms_map["event"][0].pages | length }})
      </a>
      <span> 参加したEvent</span>
    </li>
  </ul>
</div>

{% endblock content %}