<!DOCTYPE html>
<html lang="ja">

<head>
  {% include "base/head.html" %}

  {# head.html側に定義するとextend側でoverrideできない #}
  {% block title -%}
  <title>{{ config.title }}</title>
  {%- endblock title %}

  {% block description %}
  {% endblock description %}

  {% block sns %}
  {% endblock sns %}
</head>

<body>
  <div class="world">
    <div class="content-container">
      {% include "base/header.html" %}
      <main class="blog-main">
        {% block content %}
        {% endblock content %}
      </main>
      {% include "base/footer.html" %}
    </div>
  </div>
</body>

</html>