<footer class="blog-footer">
	<p>
		&copy; {{ now() |date(format="%Y") }} <a href="{{ config.base_url }}"> {{ config.extra.author.name }} </a>
		| <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="noopener">CC BY-NC 4.0</a>
		| Made with <a href="https://www.getzola.org" target="_blank" rel="noopener">Zola</a>
		| <a href="{{ get_url(path=config.feed_filename, trailing_slash=false) }}" target="_blank" title="rss">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
				stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
				<path d="M4 11a9 9 0 0 1 9 9"></path>
				<path d="M4 4a16 16 0 0 1 16 16"></path>
				<circle cx="5" cy="19" r="1"></circle>
			</svg>
		</a>
	</p>
</footer>