<header class="blog-header-container">
	<div class="blog-logo">
		<a href="{{ get_url(path='@/_index.md', lang=lang) }}">{{ config.title }}</a>
	</div>
	<div class="blog-nav">
		<nav>
			<ul>
				<li><a href="{{ get_url(path='@/entry/_index.md', lang=lang) }}">{{ trans(key="nav_entries", lang=lang) }}</a></li>
				{% set tags_taxonomy = get_taxonomy(kind="tags", lang=lang, required=false) %}
				{% if tags_taxonomy %}
				<li><a href="{{ tags_taxonomy.permalink | safe }}">{{ trans(key="nav_tags", lang=lang) }}</a></li>
				{% endif %}
				{% if lang == config.default_language %}
				<li><a href="{{ get_url(path='@/about/_index.md', lang=lang) }}">{{ trans(key="nav_about", lang=lang) }}</a></li>
				{% endif %}
				<li>
					<a href="https://github.com/{{ config.extra.author.github }}">
						<img class="icon" src="{{ get_url(path='/images/icon/github.svg') }}" alt="Github">
					</a>
				</li>
				<li>
					<a href="https://twitter.com/{{ config.extra.author.twitter }}">
						<img class="icon" src="{{ get_url(path='/images/icon/twitter.svg') }}" alt="Twitter">
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
