<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{# https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs #}
<link rel="icon" href="{{ get_url(path='/favicon.ico') }}" sizes="any">
<link rel="icon" href="{{ get_url(path='/icon.svg') }}" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ get_url(path='/apple-touch-icon.png') }}">
<link rel="manifest" href="{{ get_url(path='/manifest.webmanifest') }}">

<link rel="stylesheet" href="{{ get_url(path='/style.css') }}" />
<link rel="alternate" type="application/rss+xml" title="RSS"
	href="{{ get_url(path=config.feed_filename, trailing_slash=false) }}">

{% include "base/google_tag.html" %}