<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{# https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs #}
<link rel="icon" href="{{ get_url(path='/favicon.ico') }}" sizes="any">
<link rel="icon" href="{{ get_url(path='/icon.svg') }}" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ get_url(path='/apple-touch-icon.png') }}">
<link rel="manifest" href="{{ get_url(path='/manifest.webmanifest') }}">

<link rel="stylesheet" href="{{ get_url(path='/style.css') }}" />
<link rel="alternate" type="application/atom+xml" title="Atom"
	href="{{ get_url(path=config.feed_filenames[0], lang=lang, trailing_slash=false) }}">

{% if current_url is defined %}
<link rel="canonical" href="{{ current_url | safe }}">
{% endif %}

{% if page is defined %}
{% set translations = page.translations %}
{% elif section is defined %}
{% set translations = section.translations %}
{% else %}
{% set translations = [] %}
{% endif %}

{% for translation in translations %}
{% if translation.lang %}
{% set translation_lang = translation.lang %}
{% else %}
{% set translation_lang = config.default_language %}
{% endif %}
<link rel="alternate" hreflang="{{ translation_lang }}" href="{{ translation.permalink | safe }}">
{% if translation_lang == config.default_language %}
<link rel="alternate" hreflang="x-default" href="{{ translation.permalink | safe }}">
{% endif %}
{% endfor %}

{% include "base/google_tag.html" %}
