<!DOCTYPE html>
<html lang="ja">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />
<link rel="icon" href={{ get_url(path="images/favicon/favicon.ico" ) }} />

<link rel="stylesheet" href="/handson.css" />

<title>Happy Developing</title>

<body>

	<div>
		<div>
			<h1>H1</h1>
		</div>
	</div>

	<div>
		<h1>H1</h1>
	</div>
</body>

</html>