@import "../variables.scss";

.entry-group {
  display: flex;

  .entry-year {
    font-size: 1.6em;
    padding-top: 6px;
    white-space: nowrap; // 年なので折り返しされたくない
    @include dimmed;
  }

  .entry-list {
    list-style: none;
    flex-grow: 1;
    margin: 0;
  }

  .entry-item {
    border-bottom: 1px $highlight-grey dashed;

    a {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 12px 0;
    }
  }

  .entry-day {
    flex-shrink: 0;
    margin-left: 1em;
    @include dimmed;
  }
}