@import "../variables.scss";

$h_border_line: $color-p-3;

@mixin aTag {
	a {
		word-break: break-all;
		border: none;
		color: $color-p-5;
		transition-property: background-color;

	}
}

.entry-meta {
	font-size: $s0;
	line-height: normal;
	display: flex;
	margin-block-end: $s1;
	gap: $s1;

	&-item {}

	a:hover {
		border-bottom: 1px solid $color-text;
	}
}

.tag {
	margin-right: $s-5;

	&::before {
		content: "#";
	}
}

.entry-toc {
	border-top: 2px solid $h_border_line;
	padding-block-start: $s0;
	font-size: $s-1;
	@include dimmed;

	ul {
		padding: 0;
		margin: 0;
	}

	&-toplevel-list {
		list-style-type: none;
	}

	ul ul {
		font-size: $s-1;
		list-style-position: inside;
		list-style-type: "-";
		padding-left: 1ch;
	}

	a:hover {
		border-bottom: 1px solid $color-text;
	}
}

.entry-content {
	@include aTag;

	h2 {
		margin-block-start: $s2;
		border-top: 2px solid $h_border_line;
		padding-block-start: $s0;
	}

	h2+* {
		// h2: まとめの直後の<ul>にもmargin当てたい
		margin-block-start: $s2;
	}

	// 特定のcontextに依存しすぎている
	// h2直後にlinkつきのfigureをもってくると直後が<a>になり、margin-block-startがあたらないことへのworkaround
	h2+a {
		display: block;
	}

	h3 {
		margin-block-start: $s1;
		margin-block-end: $s1;
	}

	p {
		line-height: 1.7;
		margin-block-start: $s0;
		margin-block-end: $s0;
	}

	figure {
		text-align: center;
		margin-right: 0;
		margin-left: 0;

		.fig-images-row {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
		}

		img {
			border-radius: 4px;
		}

		figcaption {
			margin-block-start: 1rem;
			font-style: italic;
			@include dimmed;
		}
	}

	// zolaのinsert_anchor_linksで生成される見出しのlinkに線を引かない
	// TODO: refactor
	.zola-anchor {
		box-shadow: none;
	}

	a {
		code {
			&:hover {
				color: $color-text;
			}
		}
	}

	pre,
	code {
		font-family: $code-fonts;
	}

	pre {
		margin-block-start: $s1;
		padding: $s-1 $s-1;
		font-size: 0.9em;
		line-height: 1.2;
		letter-spacing: normal;

		// white-spaceを無効にして,overflow:autoにしておくとscrollして表示される
		// white-space: pre-wrap;
		overflow: auto;

		color: #eee;
		border-radius: 5px;

		code {
			padding: 0;
			margin: 0;
			background: inherit;
		}
	}

	code {
		background: $color-inline-code-background;
		border-radius: 3px;
		padding: 0 1px;
		margin: 0;
		// `format::Format<format::Full>`とかで折り返してほしくない
		word-break: break-word;
		letter-spacing: normal;

		transition-property: color;
		transition-duration: 0.2s;
		transition-timing-function: ease-out;
	}
}